.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.head-nav {
  display: flex;
  width: 20%;
  justify-content: space-between;
  & .head-nav__link {
    font-size: 14px;
    text-decoration: none;
    color: #000;
  }
}

@media (max-width: 850px) {
  .head-nav {
    display: none;
  }
}

@media all and (max-width: 550px) {
  .head {
    padding: 10px;
  }

  .head-logo {
    width: 80px;
  }
}
