

.search-result-error__info a {
  text-decoration: none;
  color: var(--stand-color-blue);

}

.search-result__top {
  display: flex;
  justify-content: space-between;
}

.search-result {
  padding: var(--stand-padding);

}

