

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  max-width: 100vw;
}

@font-face {
  font-family: "Ferry";
  src: url(./data/fonts/Ferry/ferry.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(./data/fonts/Inter/inter.ttf);
}

:root {
  --stand-color-yellow: #ffb64f;
  --stand-color-blue: #5970ff;
  --stand-color-green: #029491;
  --stand-color-light-green: #7ce3e1;
  --stand-transition: all 0.5s linear;
  --stand-padding: 30px 60px;
}
