

:root {
  --stand-color-yellow: #ffb64f;
  --stand-color-blue: #5970ff;
  --stand-color-green: #029491;
  --stand-color-light-green: #7ce3e1;
  --stand-transition: all 0.5s linear;
  --stand-padding: 30px 60px;
}
